name: Bump kernel in AUR

on:
  workflow_dispatch:
    inputs:
      relver:
        description: 'Release'
        type: string
        required: false
        default: ''
      fedora_version:
        description: 'Fedora version'
        type: string
        required: true
        default: '42'
  workflow_call:
    inputs:
      relver:
        description: 'Release'
        type: string
        required: false
        default: ''
      fedora_version:
        description: 'Fedora version'
        type: string
        required: true
        default: '42'

permissions:
  contents: read

jobs:
  deploy_aur:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/checkout@v4
      - name: Create PKGBUILD dir
        run: mkdir -p ./pkg/
      - name: Build PKGBUILD
        run: |
          if [[ -n "${{ inputs.relver }}" ]]; then
            release="$(curl "https://api.github.com/repos/bazzite-org/kernel-bazzite/releases/tags/${{ inputs.relver }}" )"
          else
            release="$(curl "https://api.github.com/repos/bazzite-org/kernel-bazzite/releases/latest" )"
          fi
          fedver=$(echo -E "$release" | jq -r '.assets[].name' | grep -E 'kernel-.*.rpm' | grep "fc${{ inputs.fedora_version }}.x86_64" | head -1 | sed "s/kernel-//g" | sed "s/.rpm//g" )
          relver=$(echo -E $release | jq -r '.tag_name')
          pkgver=$(echo $relver | sed 's/-/./g')

          mkdir -p ./pkg/
          cat PKGBUILD-AUR | \
            sed "s/VERSION_TAG/${pkgver}/" | \
            sed "s/VERSION_FEDORA/${fedver}/" | \
            sed "s/VERSION_RELEASE/${relver}/" \
          > ./pkg/PKGBUILD

          echo "relver=$relver" >> $GITHUB_ENV
      - name: Echo PKGBUILD
        run: cat ./pkg/PKGBUILD
      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: linux-bazzite-bin
          pkgbuild: ./pkg/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: update to release ${{ env.relver }}
          allow_empty_commits: false
          ssh_keyscan_types: rsa,ecdsa,ed25519
          updpkgsums: true
